---
openapi: 3.0.0
info:
  title: OpenApi for Database connection
  description: The API for connecting MySql Database
  contact:
    email: sonalika@cygniusconsulting.com
  version: "1.0"
servers:
- url: https://api.mysql.com
  description: New Server 1
- url: https://{hostname}:{port}/connect
  description: port number
  variables:
    hostname:
      default: localhost
    port:
      default: "3306"
tags:
- name: mysql
  description: create a connection with mysql
paths:
  /connectionTest/mysql:
    summary: Connection with mysql database
    description: test connection it connect or not
    post:
      tags:
      - testMySqlConnection
      summary: try to connect
      description: Return connected or not
      operationId: mysqlconnect
      requestBody:
        description: connected successfully
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mysqConnectionParams'
      responses:
        "2XX":
          description: All OK!
        "4XX":
          description: (Bad request) you sent an invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessageResponse'
        "5XX":
          description: (Internal Server Error) a generic error occurred on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessageResponse'
components:
  schemas:
    mysqConnectionParams:
      required:
      - database
      - password
      - port
      - server
      - username
      type: object
      properties:
        databaseId:
          type: number
          description: unique key for database
        serverHostname:
          type: string
          description: server name for login in mysql
        port:
          type: number
          description: port number for connection in mysql
        username:
          type: string
          description: user name for login in mysql
        password:
          type: string
          description: password for login in mysql
        database:
          type: string
          description: name of the database
      description: mysql paramaters
      example:
        server: localhost
        port: 3306
        username: admin
        password: root
        database: test
    errorMessageResponse:
      type: object
      properties:
        errorId:
          type: number
          description: unique error code
        error:
          type: string
          description: shows error message
        solution:
          type: string
          description: probable solution
      description: Represents error message
  responses:
    errorMessage:
      description: could not connect
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorMessageResponse'
    "4XXResponse":
      description: (Bad request) you sent an invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorMessageResponse'
    "5XXResponse":
      description: (Internal Server Error) a generic error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorMessageResponse'
